.hero {
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.gif {
    width: 100%;
    margin: 0;
    padding: 0;
    filter: grayscale(30%);
}

.tagline {
    font-size: 6em;
    font-family: "Osake";
    line-height: 100px;
    color: rgb(189, 36, 36);
    width: 800px;
    position: absolute;
    top: 30%;
    right: 1%;
    margin: 0%;
    text-align: center;
    text-shadow: 2px 1px 43px rgba(49,77,49,0.71);
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}
